{% extends 'base.html'%}
{% load static %}

{% block body%}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Publicações</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{% url 'postar' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea name="texto" required class="form-control input-lg p-text-area" rows="2"
                                      placeholder="O que você tem em mente hoje?"></textarea>
                            <input name="tipo" type="hidden" id="tipo_anexo" value="False">
                            <div class="modal fade" id="anexo" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Anexar PDF</h4>
                                        </div>
                                        <div class="modal-body">
                                            <input type="file" name="pdf" class="form-control">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="imagem" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Anexar Imagem</h4>
                                        </div>
                                        <div class="modal-body">
                                            <input type="file" name="imagem" class="form-control">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer box-form">
                                <button type="submit" class="btn btn-success pull-right">Postar</button>
                                <ul class="nav nav-pills">
                                    <li><a href="#" onclick="setTipo('P')" data-toggle="modal" data-target="#anexo"><i
                                            class="fa fa-file-pdf"></i></a>
                                    </li>
                                    <li><a href="#" onclick="setTipo('I')" data-toggle="modal" data-target="#imagem"><i
                                            class="fa fa-camera"></i></a></li>
                                    <li><a href="#"><i class=" fa fa-question"></i></a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
                {% if usuario.timeline %}
                {% for postagem in usuario.timeline %}
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="{% static 'img/user.png' %}" alt="">
                            <span class="username"><a href="#">{{postagem.usuario.nome}}</a></span>
                            <span class="description">{{postagem.data}}</span>
                           {% if postagem.usuario.id  == request.session.usuario_logado.id %}
                            <span class="actions">
                                <a class="text-danger action"
                                   param="{{postagem.id}}"
                                   data-msg="Deseja deletar a postagem '{{postagem.texto}}' ?"
                                   positive="remove"><i class="fa fa-trash"></i></a>
                            </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="box-body">
                        <p>{{postagem.texto}}</p>
                        {% if postagem.anexo_postagem %}
                        {% for anexo in postagem.anexo_postagem.all %}
                        {% if anexo.tipo == 'P' %}
                        <p><a target="_blank" href="media/{{anexo.arquivo}}"><i class="fa fa-file-pdf"></i> Anexo</a>
                        </p>
                        {% elif anexo.tipo == 'I'%}
                        <img class="img-responsive show-in-modal"
                             src="media/{{anexo.arquivo}}"
                             alt="Photo">
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                       <br>
                        <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Compartilhar
                        </button>
                        <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Gostei
                        </button>
                        <span class="pull-right text-muted"></span>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-4">


                {% include 'inc/widget-amigo.html' %}
                {% include 'inc/widget-grupo.html' %}

            </div>

             <!--include inc/widget-amizade.html-->
        </div>
    </div>
</section>

<script>
    function setTipo(tipo) {
        $('#tipo_anexo').val(tipo)
    }

    function remove(post_id) {
        var url = "{% url 'postagem_deletar' 9999999 %}".replace(9999999, post_id);
        top.location.href =  url
    }

</script>
{% endblock %}

