{% extends 'base.html' %}
{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-5"">
        <div class="panel panel-body panel-info">
            {% for field in form %}
                <div class="form-group col-lg-12">
                    {{ field.errors }}
                    <label>{{ field.label_tag }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <span class="help-block">{{ field.errors }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="panel-info">
            <button type="submit" class="btn btn-primary">Alterar senha</button>
        </div>


    </div>

{% endblock %}