{% extends 'base.html' %}

{% block body %}
<form class="form-signin" role="form"
      action="{% url 'password_reset' %}" method="post">
    {% csrf_token %}
    <h2 class="form-signin-heading">Digite o seu email</h2>
    <input class="form-control" type="email" name="email" maxlength="254" placeholder="Email" required id="id_email">


    <button type="submit" name="password-reset-submit" id="password-reset-submit" tabindex="4"
                                               class="btn btn-lg btn-primary btn-block" value="Enviar">Enviar
    </button>

    {% if form.errors %}
    <div class="alert alert-danger">
        <button class="close" type="button" data-dismiss="alert" aria-hidden="true">
                                    &times;
                                </button>

        Por favor, verifique o Email
    </div>
    {% endif %}
</form>
{% endblock %}