{% extends 'base.html' %}

{% block body %}
    <div class="col-md-1"></div>
    <div class="col-md-9">
        {% if validlink %}
            <h3 class="panel panel-heading">Alterar senha</h3>
            <form method="post" class="form-horizontal" >
                {% csrf_token %}
                <div class="panel-body">
                    {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label_tag }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <span class="help-block">{{ field.errors }}</span>
                            {% endif %}
                        </div>
                        {{ field.errors }}
                    {% endfor %}

                </div>
                <button type="submit" class="btn btn-primary ">Mudar senha</button>
            </form>
        {% else %}
            <h3 class="text-info">
                O link para recuperar a senha é invalido, possivelmente porque voce já tenha usado.
            </h3>
        {% endif %}
    </div>

{% endblock %}