{% load static %}
<div class="panel panel-default groups">
    <div class="panel-heading">
        <h3 class="panel-title">Grupos</h3>
    </div>
    <div class="panel-body">
        {% if usuario.grupo_usuario.count %}
        <h4 style="text-align: center">Você está em {{usuario.grupo_usuario.count}} grupo{{usuario.grupo_usuario.count|pluralize}} </h4>
        <!--{% for grupo in usuario.grupo_usuario.all %}-->
        <!--<div class="group-item">-->
            <!--<img src="{% static 'img/group.png' %}" alt="">-->
            <!--<h4><a href="#" class="">{{ grupo.titulo }} </a></h4>-->
            <!--<p>Grupo de atividades</p>-->
        <!--</div>-->

        <!--{% endfor %}-->
        <!--<div class="clearfix"></div>-->
        <a href="{% url 'grupos' %}" class="btn btn-primary btn-block">Visualizar </a>
        {% else %}
        <a href="{% url 'grupos' %}" class="btn btn-primary btn-block">Entrar em grupos! </a>
        {% endif %}
    </div>
</div>