<div class="col-md-4"></div>
<div class="col-md-5">
    <h3 class="panel panel-heading">Editar perfil</h3>
    <form class="form-signin" role="form"
          action="{% url 'editar_perfil' %}" method="post">
        {% csrf_token %}

            {% for field in form_editar %}
                <div class="form-group col-lg-12">
                    {{ field.errors }}

                    {{ field }}
                    {% if field.help_text %}
                        <span class="help-block">{{ field.errors }}</span>
                    {% endif %}
                </div>
            {% endfor %}



        <button class="btn btn-lg btn-primary btn-block"
                type="submit" value="Confirmar">Confirmar
        </button>

        {% if form_editar.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">×
                </button>
            </div>
        {% endif %}

    </form>
</div>